img {
    padding: 0 2%;
}
div {
    position: absolute;
}

@media only screen and (max-width:320px) {
    img {
        padding: 0 5%;
        width: 20%;
    }

    div {
        position: static;
        width: 20%;
    }
}

@media only screen and (min-width:321px) and (max-width:768px) {
    img {
        padding: 0 5%;
        width: 20%;
    }

    div {
        position: static;
        width: 20%;
    }
}
